HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/ !**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

## Lucene test files ##
**/*.cfe
**/*.cfs
**/*.si
**/write.lock
**/segments_*
.aider*

# Ignore CH related files
ch_data/**/*
ch_logs/**/*

# JTE related files
**/*.class
**/Jteget_*.java

# DS stores
**/*.DS_Store

# Fe setup tools
fe-setup.json

# Fe copied files
okapi-web/src/main/resources/public/assets/index-*.js
okapi-web/src/main/resources/public/assets/index.html
okapi-web/src/main/resources/public/assets/index-*.css
