replicaCount: 1

image:
  repository: ghcr.io/okapi-core/okapi-web
  tag: latest
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  name: ""

service:
  type: ClusterIP
  port: 9001

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: okapi-web.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}

podLabels: {}

env: []

springOverrides: {}

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

pdb:
  enabled: false
  minAvailable: 1
