replicaCount: 3

image:
  repository: ghcr.io/okapi-core/okapi-web
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

springOverrides:
  server:
    port: 8080

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 6
  targetCPUUtilizationPercentage: 75

pdb:
  enabled: true
  minAvailable: 2
