<configuration>
    <springProfile name="prod">
        <property name="LOG_ROOT" value="/home/ec2-user/application-logs"/>
    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT}/application-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file's size will be max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 30 days to keep -->
            <maxHistory>30</maxHistory>
            <!-- total size of all archive files, if total size > 100GB, it will delete old archived file -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
        <!--            <file>/Users/kushal/Development/nocode-work/studio-backend/application.log</file>-->
    </appender>

    <springProfile name="test">

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <!--        Do not delete this is for debugging reference-->
        <logger name="org.springframework" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.okapi.docnode" level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="org.apache" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.amazonaws" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <springProfile name="integration-test">

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <!--        Do not delete this is for debugging reference-->
        <logger name="org.springframework" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.okapi.docnode" level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="org.apache" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="com.amazonaws" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>


    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.springframework" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

</configuration>
